<div class="overLay">
    <div class="container_content">
        <div class="container_title">
            <h1 class="text_main text_white">Create Event</h1>
            <img src="../assets/Asset 3.svg" (click)="hideEvent()" class="img_close">
        </div>
        <div class="event_context">
            <div class="column_input text_body text_white">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                    <div class="input_format">
                        <label name="title">Name of event</label>
                        <input name="title" type="text" ngModel>
                    </div>
                    <div class="input_format">
                        <label name="start">Event date</label>
                        <input type="date" name="start" ngModel>
                    </div>
                    <div class="input_format">
                        <!-- TODO: Change back to Location -->
                        <label name="description">description</label>
                        <input type="text" name="description" ngModel>
                    </div>
                    <button class="btn_align text_main text_white">Create</button>
                </form>
            </div>
            <!-- <div class="column_area"> -->
            <!-- <form>
                    <div class="input_format">
                        <label class="text_main text_white label_big">Games</label>
                        <textarea rows="10" cols="50"></textarea>
                    </div>
                    <div class="input_format">
                        <label class="text_main text_white label_big">Info</label>
                        <textarea rows="10" cols="50"></textarea>
                    </div>
                </form> -->
            <!-- </div> -->
        </div>
    </div>
</div>