.overLay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_content {
    background-color: #4F345A;
    width: 48em;
    height: 30em;
    opacity: 1;
    display: flex;
    flex-direction: column;
    z-index: 13;
}

.column_input {
    width: 50%;
    height: 60%;
    margin: 10px;
}

.column_area {
    display: flex;
    width: 50%;
    height: 60%;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container_title {
    /* width: 95%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center; */
    width: 95%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.event_context {
    width: 100%;
    height: 100%;
}

.input_format {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.btn_align {
    justify-self: center;
    border-style: none;
    background-color: #29ABE2;
    padding: 10px;
    font-size: 18pt;
}

.label_big {
    font-size: 20pt;
}

.img_close {
    width: 2em;
}

.gameselect {
    width: 100%;
    height: 2em;
    background-color: #4F345A;
}

.gameselect:hover {
    background-color: #29ABE2;
    transition: 0.3s;
}

.gameselect:focus {
    background-color: #4F345A;
}

.event {
    width: 100%;
    background-color: #662D91;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
}

.event:hover {
    background-color: #29ABE2;
}

.event_new {
    height: 100%;
    width: 95%;
    margin: auto;
    overflow-y: scroll;
}

.event_main {
    display: block;
    overflow-y: scroll;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.btn_delete_event {
    grid-column: 3;
    grid-row: 1;
    border-style: none;
    background-color: #29ABE2;
}

.btn_delete_event:hover {
    background-color: #662D91;
    transition: 0.3s;
}

.btn_update_event {
    grid-column: 3;
    grid-row: 2;
    border-style: none;
    background-color: #29ABE2;
}

.btn_update_event:hover {
    background-color: rgb(189, 64, 64);
    transition: 0.3s;
}

.event_start {
    grid-column: 2;
    grid-row: 1;
}

.event_title {
    grid-column: 1;
    grid-row: 1;
}

.event_description {
    grid-column: 1;
    grid-row: 2;
}

.detailStyle:hover {
    border-bottom: solid #29ABE2;
    transition: 0.7s;
}

.gamesPlayed {
    grid-column: 2;
    overflow-y: scroll;
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 9px;
    width: 100%;
}