.container_content {
    margin: 0 auto;
    background-color: #662D91;
    width: 70em;
    height: 39em;
    box-shadow: 0px 5px 20px black;
    display: grid;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.container_signlog {
    height: 34em;
    width: 20em;
    background-color: #FFFFFF;
    margin: 20px;
    /* display: flex; */
    box-shadow: 0px 0px 5px black;
}

.asset_signlog {
    width: 27em;
}

.logo {
    width: 250px;
    position: relative;
    margin-top: 5px;
    justify-self: center;
}

.logSign {
    text-align: center;
}

.Altsign_resize {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px;
    width: 80%;
    justify-self: center;
}

.Altsign_resize:hover {
    border-bottom: solid #662D91;
    transition: 0.1s;
}

.btn_align {
    border-style: none;
    background-color: #662D91;
    color: #ffffff;
    padding: 10px;
    width: 5em;
    font-size: 20pt;
    margin-top: 15px;
}

.container_btn {
    width: 100%;
    bottom: 0;
    display: flex;
    align-self: center;
    justify-content: center;
}

.container_img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-control {
    height: 17em;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.form-control-sign {
    height: 20em;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.login {
    width: 100%;
    height: 59%;
    background-color: #000000;
}

.label_format {
    margin-bottom: 1em;
}

.btn_Altlog {
    max-width: 14em;
    height: 2em;
    box-shadow: 0px 0px 10px #000000;
    /* top: 5; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    margin-left: 3em;
}

.btn_Altlog:hover {
    background-color: #662D91;
    transition: 0.5s;
    color: #F5F5F5;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: .7; */
}

.container_alts {
    background-color: #F5F5F5;
    width: 20em;
    height: 70%;
    opacity: 1.0;
    text-align: center;
    z-index: 11;
}

.icon_adjust {
    margin-right: 5px;
}

.nav-splash {
    background-color: #FFFFFF;
    width: 70em;
    height: 3em;
    position: block;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 3px black;
    align-self: flex-start;
    z-index: 7;
}

.nav_splash_left {
    display: flex;
    width: 20em;
    height: 100%;
    align-items: center;
    background-color: white;
}

.header_signup:hover {
    border-bottom: solid;
    border-bottom-color: #662D91;
}

.header_login:hover {
    border-bottom: solid;
    border-bottom-color: #662D91;
}

.passAlert {
    font-size: 10pt;
    color: red;
}

.nav_img {
    width: 4em;
    display: block;
}

.log_content {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    width: 70em;
    height: 100%;
    justify-content: space-between;
}