<div class="container_page">
    <div class="container_content">
        <div class="container_signlog">
            <img src="../assets/Asset 12.svg" class="logo">
            <p (click)="alert()">sign up | Login</p>
            <div id="signup">
                <form action="">
                    <label for=""></label>

                </form>
            </div>
            <div id="Login">
                <form action="">

                </form>
            </div>
        </div>
        <img src="../assets/Asset 10.svg" class="asset_signlog">
    </div>
</div>