<div class="container_splash">
    <div class="nav-splash">
        <div class="nav_splash_left">
            <img src="../assets/Asset 11.svg" class="nav_img">
            <h1 class="text_main padding">Gamebox</h1>
        </div>
        <div class="nav_spash_right">
            <div class="log_box">
                <a (click)="showFriendList()" class="text_body link_fix">Friendlist</a>
                <p>{{friendNumber}}</p>
            </div>
            <div class="FriendsList" *ngIf="DropFriendlist">
                <button class="addFriend">add Friend</button>
                <div *ngFor="let ref of refer | async">
                    <div class="Friend">
                        <p class="text_body text_white">{{ref.friendsOf}}</p>
                    </div>
                </div>
            </div>
            <div class="log_box">
                <a (click)="tryFriend()" class="text_body link_fix">notifications</a>
                <p>{{notifcations}}</p>
            </div>
            <div class="name_box">
                <p class="text_body link_fix">{{UserName}}</p>
            </div>
            <div class="log_box">
                <a (click)="logout()" class="text_body link_fix">Log-out</a>
            </div>
        </div>
    </div>
    <div class="container_content">
        <div class="container_sidebar">
            <div class="sidebar_btn" (click)="showEvent()">
                <p>Create Event</p>
            </div>
            <div class="sidebar_btn" (click)="showGameslist()">
                <p>My Games</p>
            </div>
            <div class="sidebar_btn" (click)="showAccount()">
                <p>My Account</p>
            </div>
        </div>
        <div class="container_calender">
            <div class="inline_calender_controls">
                <button (click)="rerender()">Refresh</button>
                <div class="calender-switch">
                    <span class="text_body">private</span>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider" (click)="pubPriv()"></span>
                </label>
                    <span class="text_body">public</span>
                </div>
            </div>
            <div *ngIf="calendarOptions">
                <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)" (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
            </div>
        </div>
    </div>
    <div class="nowPlaying">
        <div class="playing">
            <p class="text_body EventTitle">Event title : {{eventTitle}}</p>
            <p class="text_body EventDate">Event date : {{eventStart}}</p>
            <p class="text_body EventDescript">Event description : {{eventDescription}}</p>
        </div>
    </div>
</div>
<!-- <div class="addFriendDetail">
    <form (ngSubmit)="addNewFriend(f)" #f="ngForm">
        <label>Add friend</label>
        <input type="text" name="friendName" ngModel>
    </form>
</div> -->
<app-gamelist *ngIf="viewGamelist" (gameChange)="showGameslist()"></app-gamelist>
<app-account *ngIf="viewAccount" (accountChange)="showAccount()"></app-account>
<app-calender-create *ngIf="viewCallCalender" (eventChange)="showEvent()"></app-calender-create>