<div class="container_splash">
    <div class="nav-splash">
        <div class="nav_splash_left">
            <img src="../assets/Asset 11.svg" class="nav_img">
            <h1 class="text_main padding">Gamebox</h1>
        </div>
        <div class="nav_spash_right">

            <div class="name_box">
                <a class="text_body link_fix" routerLink="../LogSign">Boxy2110</a>
            </div>
            <div class="log_box">
                <a routerLink="../LogSign" class="text_body link_fix">Log-out</a>
            </div>
        </div>
    </div>
    <div class="container_content">
        <div class="container_sidebar">
            <div class="sidebar_btn">
                <p>Create Event</p>
            </div>
            <div class="sidebar_btn">
                <p>My Games</p>
            </div>
            <div class="sidebar_btn">
                <p>My Account</p>
            </div>
        </div>
        <div class="container_calender">
        </div>
    </div>
    <div class="nowPlaying">
        <span class="text_body play">Now Playing</span>
        <div class="playing"></div>
    </div>
</div>