.container_splash {
    width: 80em;
    /* min-width: 80%; */
    height: 40em;
    margin: 0 auto;
    background-image: url("/assets/Asset 4.svg");
    box-shadow: 0px 5px 20px black;
    display: flex;
    flex-direction: column;
}

.container_content {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_sidebar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.container_calender {
    width: 60%;
    height: 90%;
    background-color: #FFFFFF;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px black;
}

.container_overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inline_calender_controls {
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    justify-content: space-between;
    background-color: #4F345A;
}

.nowPlaying {
    width: 100%;
    height: 20%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
}

.playing {
    width: 100%;
    height: 6em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #4F345A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 1em;
    box-shadow: 0px 0px 3px black;
}

.EventDescript {
    grid-column: 1/2;
    grid-row: 2;
}

.EventTitle {
    grid-column: 1;
    grid-row: 1;
}

.EventLocation {
    grid-row: 1;
    grid-column: 3;
}

.EventCreator {
    grid-row: 2;
    grid-column: 3;
}

.nav-splash {
    background-color: #FFFFFF;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 3px black;
    align-self: flex-start;
}

.nav_splash_left {
    display: flex;
    width: 20em;
    height: 100%;
    align-items: center;
    background-color: white;
}

.nav_spash_right {
    display: flex;
    height: 100%;
    align-items: center;
    width: 33em;
    background-color: white;
    justify-content: flex-end;
    margin-right: 10px;
}

.nav_img {
    width: 4em;
    display: block;
}

.log_box {
    background-color: #662D91;
    height: 50%;
    margin-left: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #FFFFFF;
}

.log_box:hover {
    background-color: #29ABE2;
    transition: 0.3s;
}

.name_box {
    background-color: #29ABE2;
    width: 14em;
    height: 50%;
    margin-left: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #FFFFFF;
}

.sidebar_btn {
    width: 100%;
    height: 4em;
    background-color: #4F345A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita';
    color: #FFFFFF;
    font-size: 18pt;
    margin-top: 24px;
    box-shadow: 0px 0px 3px black;
}

.sidebar_btn:hover {
    background-color: #29ABE2;
    transition: 0.5s;
}

.nav {
    text-decoration: none;
    color: #000000;
}

.play {
    margin-left: 25px;
}

.img_size {
    width: 90%;
}

.logout:hover {
    background-color: #29ABE2;
    transition: 0.3s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #662D91;
    -webkit-transition: .4s;
    transition: .4s;
    margin-left: 3px;
    margin-right: 3px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.calender-switch {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.friendbox {
    position: relative;
    width: 5em;
    height: 10em;
    background-color: #4F345A;
    display: flex;
    align-items: center;
}

.front {
    z-index: 40;
}

.FriendsList {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 20em;
    height: 10em;
    background-color: #4F345A;
    z-index: 30;
    top: 3em;
    right: 13em;
    box-shadow: 0px 2px 3px;
}

.notifcations_dropdown {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 24em;
    height: 10em;
    background-color: #4F345A;
    z-index: 30;
    box-shadow: 0px 2px 3px;
    top: 8%;
}

.Friend {
    display: flex;
    background-color: #662D91;
    width: 20em;
    height: 2em;
    align-items: center;
    justify-content: center;
}

.addFriend {
    border-style: none;
    background-color: #29ABE2;
    height: 3em;
    margin-bottom: 5px;
    width: 100%;
}

.friendHolder {
    width: 10em;
}

.container_friend_Detail {
    width: 55%;
    height: 30em;
    z-index: 12;
    background-color: #4F345A;
}

.container_title {
    width: 95%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.notification {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: #662D91;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 3px;
    flex-direction: column;
}

.notification:hover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #29ABE2;
}

.notificationHolder {
    display: flex;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    flex-direction: column;
}

.noti_info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.btn_refresh {
    border-style: none;
    background-color: #29ABE2;
    height: 2em;
    margin-left: 10px;
}