/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Sansita');
body {
    background: linear-gradient( #662D91, rgb(59, 26, 85));
    background-attachment: fixed;
}

.text_main {
    font-family: 'Sansita', sans-serif;
}

.text_body {
    font-family: 'Open Sans', sans-serif;
}

.link_fix {
    text-decoration: none;
    color: #ffffff;
}

.text_white {
    color: #ffffff;
}

.img_close {
    width: 2em;
}

.img_close:hover {
    /* animation: pulse 5s infinite; */
    transform: rotate(90deg);
    transition: 0.6s;
}