<div class="overLay">
    <div id="container_content">
        <div class="container_title">
            <h1 class="text_main text_white"> My Account</h1>
            <img src="../assets/Asset 3.svg" (click)="accountOff()" class="img_close">
        </div>
        <div class="container_input">
            <div class="account_graphic">
                <img src="../assets/Asset 11.svg" class="img_size">
                <h1 class="text_main text_white align">Boxy2110</h1>
            </div>
            <div class="account_input">
                <div class="container_password">
                    <h1 class="text_main text_white">change Password</h1>
                    <div class="input_password">
                        <form>
                            <div class="form-group">
                                <label for="old_pwd" class="text_white text_body">Old password</label>
                                <input name="old_pwd" type="password">
                            </div>
                            <div class="form-group">
                                <label for="new_pwd" class="text_white text_body">New password</label>
                                <input name="new_pwd" type="password">
                            </div>
                            <button class="btn_change text_main">Change</button>
                        </form>
                    </div>
                </div>
                <div class="container_gameClear">
                    <h1 class="text_main text_white">Clear GamesList</h1>
                    <p class="right_margin text_white text_body">This will completely empty your gamelist. You have been warned.</p>
                    <button class="text_main btn_purge">Purge!!</button>
                </div>
            </div>
        </div>
    </div>
</div>